header {
    background-color: #ddd;
}


nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: -1;
    
  }

   li {
    display:inline;
    padding-left: 210px;
    padding-right: 130px;
  }
  n

  main,#m2{
    
      
        margin-top: 20px;
        
        
        margin-left: 450px;
        
       
      
  }

  #m3{
    
      
    margin-top: 20px;
    
    
    margin-left: 450px;
    
   
  
}

#m4{
    
      
    margin-top: 20px;
    
    
    margin-left: 20px;

    margin-right: 30px;
    
   
  
}

#m6{
    
      
    margin-top: 20px;
    
    
    margin-left: 450px;
    
   
  
}

input{
    background-color: rgb(75, 73, 73);
    float: right;
    margin-top: 400px;
    position: absolute;
    margin-left: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    

}
section {
    float: right;
}

textarea {
    height: 300px;
    margin-right: 700px;
    
  }

footer {
    background-color: darkgray;
    margin-bottom: 20px;
    height: 100px;
  }

  

